<div class="">
    <ul class="mx-auto flex relative  bg-[#ffd400] justify-around items-center  pt-1 text-black h-14">
        <li class="group">
            <a class="nav-bar">
                <p><i class="fas fa-mobile-alt"></i></p>
                <p class="">Điện thoại</p>
            </a>
            <div
                class="grid grid-cols-2 mt-0 mx-5 z-10  border-2  absolute left-0 rounded-lg bg-white  items-nav  group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="menu-item">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class="menu-item-info  grid grid-cols-5 text-sm leading-8 ">
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                    </div>
                </ul>
                <div class="py-8">
                    <a href="">
                        <img class="w-2/6 float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p><i class="fa-solid fa-laptop"></i></p>
                <p class="">labtop</p>
            </a>
            <div
                class="grid grid-cols-2 mt-0 mx-5 z-10  border-2  absolute left-0 rounded-lg bg-white  items-nav  group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="menu-item">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class="menu-item-info  grid grid-cols-5 text-sm leading-8 ">
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                    </div>
                </ul>
                <div class="py-8">
                    <a href="">
                        <img class="w-2/6 float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p><i class="fa-solid fa-tablet-screen-button"></i></p>
                <p class="">Máy tính bảng</p>
            </a>
            <div
                class="grid grid-cols-2 mt-0 mx-5 z-10  border-2  absolute left-0 rounded-lg bg-white  items-nav  group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="menu-item">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class="menu-item-info  grid grid-cols-5 text-sm leading-8 ">
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                    </div>
                </ul>
                <div class="py-8">
                    <a href="">
                        <img class="w-2/6 float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p><i class="fa-solid fa-tv"></i></p>
                <p class="">Smart TV</p>
            </a>
            <div
                class="grid grid-cols-2 mt-0 mx-5 z-10  border-2  absolute left-0 rounded-lg bg-white  items-nav  group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="menu-item">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class="menu-item-info  grid grid-cols-5 text-sm leading-8 ">
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                    </div>
                </ul>
                <div class="py-8">
                    <a href="">
                        <img class="w-2/6 float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p>
                    <i class="fa-solid fa-headset"></i>
                </p>
                <p class="">Âm thanh</p>
            </a>
            <div
                class="grid grid-cols-2 mt-0 mx-5 z-10  border-2  absolute left-0 rounded-lg bg-white  items-nav  group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="menu-item">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class="menu-item-info  grid grid-cols-6 text-sm leading-8 ">
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                    </div>
                </ul>
                <div class="py-8">
                    <a href="">
                        <img class="w-2/6 float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p><i class="fa-solid fa-cubes"></i></p>
                <p class="">Phụ kiện</p>
            </a>
            <div
                class="grid grid-cols-2 mt-0 mx-5 z-10  border-2  absolute left-0 rounded-lg bg-white  items-nav  group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="menu-item">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class="menu-item-info  grid grid-cols-5 text-sm leading-8 ">
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                    </div>
                </ul>
                <div class="py-8">
                    <a href="">
                        <img class="w-2/6 float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p>
                    <i class="fa-solid fa-gamepad"></i>
                </p>
                <p class="">Đồ chơi công nghệ</p>
            </a>
            <div
                class="grid grid-cols-2 mt-0 mx-5 z-10  border-2  absolute left-0 rounded-lg bg-white  items-nav  group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="menu-item">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class="menu-item-info  grid grid-cols-5 text-sm leading-8 ">
                        <li><a href="">asus</a></li>
                        <li><a href="">asus</a></li>
                    </div>
                </ul>
                <div class="py-8">
                    <a href="">
                        <img class="w-2/6 float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="relative">
    <img src="https://cdn.tgdd.vn/2022/09/banner/213213213-1920x450.png" alt="" class="h-[450px] object-cover"
        srcset="">
    <app-slideshow></app-slideshow>
</div>