<div class="">
    <ul class="mx-auto flex relative  bg-[#ffd400] justify-around items-center  pt-1 text-black h-14">
        <li class="group">
            <a class="nav-bar">
                <p><i class="fas fa-mobile-alt"></i></p>
                <p class="">Điện thoại</p>
            </a>
            <div
                class="grid grid-cols-[3fr_1fr] mt-0 mx-5 z-10  border-2 items-nav absolute left-0 rounded-lg bg-white    group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class=" menu-item-info grid grid-cols-11 gap-2 text-sm  leading-8 justify-items-center ">
                        <li *ngFor="let data of PHONE"><a href="{{data.cateName}}/{{data.id}}">{{data.cateName}}</a>
                        </li>
                    </div>
                </ul>
                <div class="py-1 grid grid-cols-1">
                    <a href="">
                        <img class="w-[2/6]  float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p><i class="fa-solid fa-laptop"></i></p>
                <p class="">labtop</p>
            </a>
            <div
                class="grid grid-cols-[3fr_1fr] mt-0 mx-5 z-10  border-2 items-nav absolute left-0 rounded-lg bg-white    group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class=" menu-item-info grid grid-cols-11 gap-2 text-sm  leading-8 justify-items-center ">
                        <li *ngFor="let data of LAPTOP"><a href="{{data.cateName}}/{{data.id}}">{{data.cateName}}</a>
                        </li>
                    </div>
                </ul>
                <div class="py-1 grid grid-cols-1">
                    <a href="">
                        <img class="w-[2/6] rounded-md float-right pr-8"
                            src="https://khoavang.vn/resources/cache/600xx1/Blog/NewFolder/he-thong-phan-phoi-laptop-so-1-ha-noi-1650596310.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p><i class="fa-solid fa-tablet-screen-button"></i></p>
                <p class="">Máy tính bảng</p>
            </a>
            <div
                class="grid grid-cols-[3fr_1fr] mt-0 mx-5 z-10  border-2 items-nav absolute left-0 rounded-lg bg-white    group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class=" menu-item-info grid grid-cols-11 gap-2 text-sm  leading-8 justify-items-center ">
                        <li *ngFor="let data of TABLET"><a href="{{data.cateName}}/{{data.id}}">{{data.cateName}}</a>
                        </li>
                    </div>
                </ul>
                <div class="py-1 grid grid-cols-1">
                    <div class="grid grid-cols-2 gap-2 pr-8">
                        <a href="">
                            <img class="w-[1/3]  rounded-lg"
                                src="https://i.pcmag.com/imagery/roundups/01lTcvK5fxqsTM696Gk6LmY-18..v1648740456.jpg">
                        </a>
                        <a href="">
                            <img class="w-[1/3] rounded-lg "
                                src="https://www.popsci.com/uploads/2021/03/18/C4DZBNOBBFFP5LQE3MIAMM2QSM.jpg">
                        </a>
                        <a href="">
                            <img class="w-[1/3] rounded-lg"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTejY67alQWOH8LDx92Ovcj3a3xsPffAG2ifSBXsBpKW-AQOMadvH81hBBkrzEeXLkWAcY&usqp=CAU">
                        </a>
                        <a href="">
                            <img class="w-[1/3] rounded-lg "
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNOOoy9ntUsYbuucO3YQEGJhZH4mJySh488X0LoWCBMS2tUiN9GlW1OYdfwdpt1xYdnEk&usqp=CAU">
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p><i class="fa-solid fa-tv"></i></p>
                <p class="">Smart TV</p>
            </a>
            <div
                class="grid grid-cols-[3fr_1fr] mt-0 mx-5 z-10  border-2 items-nav absolute left-0 rounded-lg bg-white    group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class=" menu-item-info grid grid-cols-11 gap-2 text-sm  leading-8 justify-items-center ">
                        <li *ngFor="let data of SMARTTV"><a href="{{data.cateName}}/{{data.id}}">{{data.cateName}}</a>
                        </li>
                    </div>
                </ul>
                <div class="py-1 grid grid-cols-1">
                    <a href="">
                        <img class="w-[2/6]  float-right pr-8"
                            src="https://i5.walmartimages.com/dfw/4ff9c6c9-86f0/k2-_eb0cec01-11c0-4b3c-ac46-834d1d03f7ad.v1.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p>
                    <i class="fa-solid fa-headset"></i>
                </p>
                <p class="">Âm thanh</p>
            </a>
            <div
                class="grid grid-cols-[3fr_1fr] mt-0 mx-5 z-10  border-2 items-nav absolute left-0 rounded-lg bg-white    group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class=" menu-item-info grid grid-cols-5 gap-2 text-sm  leading-8 justify-items-center ">
                        <li *ngFor="let data of SPEAKER"><a href="{{data.cateName}}/{{data.id}}">{{data.cateName}}</a>
                        </li>
                    </div>
                </ul>
                <div class="py-1 grid grid-cols-1">
                    <a href="">
                        <img class="w-[2/6]  float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p><i class="fa-solid fa-cubes"></i></p>
                <p class="">Phụ kiện</p>
            </a>
            <div
                class="grid grid-cols-[3fr_1fr] mt-0 mx-5 z-10  border-2 items-nav absolute left-0 rounded-lg bg-white    group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class=" menu-item-info grid grid-cols-5 gap-2 text-sm  leading-8 justify-items-center ">
                        <li *ngFor="let data of PHU_KIEN"><a href="{{data.cateName}}/{{data.id}}">{{data.cateName}}</a>
                        </li>
                    </div>
                </ul>
                <div class="py-1 grid grid-cols-1">
                    <a href="">
                        <img class="w-[2/6]  float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
        <li class="group">
            <a class="nav-bar">
                <p>
                    <i class="fa-solid fa-gamepad"></i>
                </p>
                <p class="">Đồ chơi công nghệ</p>
            </a>
            <div
                class="grid grid-cols-[3fr_1fr] mt-0 mx-5 z-10  border-2 items-nav absolute left-0 rounded-lg bg-white    group-hover:mt-3 transition-all decoration-slate-500">
                <ul class="">
                    <li class="menu-item-title">Hãng sản xuất</li>
                    <div class=" menu-item-info grid grid-cols-5 gap-2 text-sm  leading-8 justify-items-center ">
                        <li *ngFor="let data of GAMING"><a href="{{data.cateName}}/{{data.id}}">{{data.cateName}}</a>
                        </li>
                    </div>
                </ul>
                <div class="py-1 grid grid-cols-1">
                    <a href="">
                        <img class="w-[2/6]  float-right pr-8"
                            src="https://cdn.tgdd.vn/Files/2021/10/13/1390185/ip13-gbh-2_1280x720-800-resize.jpg">
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>