<div class="slider-banner owl-carousel  w-100 h-[300px] absolute mt-[-95px] px-16">
    <div class=" w-100 h-[200px]">
        <img src="https://cdn.tgdd.vn/2022/08/banner/720-220-720x220-145.png" class="rounded-md" alt="">
    </div>
    <div class=" w-100 h-[200px]">
        <img src="https://cdn.tgdd.vn/2022/08/banner/720-220-720x220-223.png" class="rounded-md" alt="">
    </div>
    <div class=" w-100 h-[200px]">
        <img src="https://cdn.tgdd.vn/2022/08/banner/720-220-720x220-145.png" class="rounded-md" alt="">
    </div>
    <div class=" w-100 h-[200px] ">
        <img src="https://cdn.tgdd.vn/2022/08/banner/720-220-720x220-223.png" class="rounded-md" alt="">
    </div>
</div>