<app-navbar></app-navbar>
<app-subnav></app-subnav>
<app-producthome></app-producthome>
<div class="bg-white rounded-lg mt-5 flex justify-around mx-auto w-[92%]">
    <div class="flex my-5">
        <p class="text-[#0b8d5d] "><i class="fas fa-check-double fa-3x"></i></p>
        <p class="block pl-4 text-sm">Sản phẩm <br><span class="font-bold text-xl uppercase">chính hãng</span></p>
    </div>
    <div class="flex my-5">
        <p class="text-[#0b8d5d] "><i class="fas fa-truck fa-3x"></i></p>
        <p class="block pl-4 text-sm">Miễn phí vận chuyển <br><span class="font-bold text-xl uppercase">toàn quốc</span>
        </p>
    </div>
    <div class="flex my-5">
        <p class="text-[#0b8d5d] "><i class="fas fa-phone-alt fa-3x"></i></p>
        <p class="block pl-4 text-sm">Hotline hỗ trợ <br><span class="font-bold text-xl uppercase">1900.999.111</span>
        </p>
    </div>
</div>